.card {
    background-color: #2a431f;
    border: solid 0.5rem #64724c;
    max-width: 50rem;
    margin: auto;

    hgroup {
        .cost {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 1.5rem;
            background-color: #222;
            text-align: center;
            padding: 0.5rem;
        }
    }

    header h1 {
        margin: 0;
    }

    .desc {
        font-size: 1.3rem;
        margin: 2em;

        .type {
            font-size: 1.4rem;
            border-bottom: solid 0.2em rgba(0,0,0,0.5);
        }

        .flavor {
            font-size: 1rem;
            font-style: italic;
        }
    }
}
