// bg
$runner-background: #511;
$corp-background: #115;
$neutral-background: #333;

// text
$runner-1: #F33;
$corp-1: #33F;
$neutral-1: #222;
$neutral-2: #333;
$neutral-3: #555;
$neutral-4: #888;
$neutral-5: #333;
